
.Game {
  text-align: center;
}

.Board
{
  border-style: solid;
  border-radius: 3vh;
  border-color: grey;
  overflow: hidden;
  width: 145.1vh;
}

.gameContainer
{
  position: relative;
  margin-left: 24vh;
}

th {
  padding: 0;
}

th div {
  background-size: contain;
  height: 48px;
  width: 48px;
}

.Tile {
  position: relative;
  z-index:2 ;
}

table {
  border-collapse: collapse;
}

.capacityStyle {
    z-index: 1;
    position: relative;
    background-size: contain;
    height: 60px;
    width: 60px;
}
@keyframes beat{
	to { transform: scale(1.4); }
}
/*.character {
  position: absolute;
  z-index: 1;
  top: 0;
  left:11px;
}

.Player{
z-index: 1;
background-size: contain;
height: 48px;
width: 48px;
}
*/
