.Capacities1 {
  position: absolute;
  top: 10vw;
  left: -7vw;
  width: 5vw;
  height:5vw;
}

.Capacities2 {
  position: absolute;
  top:10vw;
  left:80vw;
  width: 5vw;
  height: 5vw;
}

.levelStar {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  height: auto;
  width: 33.33%;
  position: absolute;
  top: 2vw;
}