.Timer{
  display: flex;
  justify-content: center;
  width: 7vw;
  margin-bottom: -3.5vw;
}

.Count{
  line-height: 19.7vw;
  background-image: url('./assets/pokemons/ronflex1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: -7vw;
  font-size: 1.4vw;
  font-weight: bold;
  width: 15vw;
  height: 18vw;
  margin-top: -5.5vw;
}



