.Timer{
  display: flex;
  justify-content: center;
  width: 6vw;
  margin-bottom: -5vw;
}

.Count{
  line-height: 19.5vw;
  background-image: url('./assets/pokemons/ronflex1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 1vw;
  font-weight: bold;
  width: 15vw;
  height: 18vw;
  margin-top: -2.5vw;
  
}

