.Timer{
  display: flex;
  justify-content: center;
  width: 12%;
  margin-bottom: 1%;
}

.Count{
  line-height: 22vh;
  background-image: url('./assets/pokemons/ronflex1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 2vh;
  font-weight: bold;
  width: 15vh;
  height: 18vh;
  margin-top: 1vh;
  
}

