.Game {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/pokemons/fond.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 49.2vw;
  width: 95.2%;
  transform: scale(1.1);
}

.GameMultiplayer {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/pokemons/fond.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vw;
  min-width: 50vw;
}

.gameContainer
{
  margin-left: 4vw;
  position: relative;
}
