
 

  .home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: fixed, url('./assets/pokemons/fond.png') no-repeat fixed center center;
    background-size: 100%, cover;
    min-height: 100vh;
    min-width: 100vh;
  }

  /* .home img{
    padding-top: 18vh;
  } */

  .home input{
    padding:10px;
    border:none;
    width:100%;
    border-radius:20px;
  }
  
  .buttonContainerHome { 
    display: flex;
    justify-content: center;
    padding-bottom: 8vw;
  }
  
  .logoButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .homeButton {
    padding:20px 60px;
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1.5em;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
  }

  .homeButton:disabled {
    padding:20px 60px;
    background-color:grey;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid grey;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1.5em;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
  }
  
  .homeButton a {
    text-decoration:none;
    color:#ffffff;
  }

  .homeButton:active {
    position:relative;
    top:1px;
  }
  .forms{
    min-width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top:0;
    left:0;
    min-width: 17%;
  }
  .formOne{
    margin:auto;
    display:flex;
    flex-direction:column;
    padding-top:10px;
    padding-bottom:20px;
    margin-bottom: 10px;
    width:100%;
    background-color:rgba(0,0,0,0.38);
    color:white;
    align-items: center;
    justify-content: center;

  }

  form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .formTwo{
    margin:auto;
    display:flex;
    flex-direction:column;
    padding-top:10px;
    padding-bottom:20px;
    width:100%;
    background-color:rgba(0,0,0,0.38);
    color:white;
    align-items: center;
    justify-content: center;
  }



.logo{
    align-items: center;
    padding-bottom: 10vw;

  }

  .connectButton{
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    color: white;
    text-align: center;
  }

  .disconnectButton{
    background-color:#df1414;
    color: white;
    text-align: center;
  }

  .pokeditor {
    padding:10px 40px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #2b55a3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1.5em;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #2b55a3;
    color: white;
    text-align: center;
    align-items: center;
    background-color: #2b55a3;
  }

  .pokeditor img{ 
    vertical-align: middle;
  }
