.pokemon-container{
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    flex-wrap: wrap;
    width: 100%;
    background-size: 100%, cover;
    min-height: 100vh;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
}
.pokemon-single-container {
    width: 180px;
    height: 180px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ededed;
    color: #424242;
    margin: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border:1px solid black;
    opacity: 0.9;
    font: bold;
  }

.pokemonSearchBar {
    background-color: #ededed;
    min-height: 100px;
    width: 100%; 
    border-radius: 5px;
    margin: 20px;
    border:1px solid black;
}

.searchLeft{
    text-align: left;
}

.searchRight{
    text-align: right;
}

.align-bottom{
    color: black;
    height: 30px;
    position:absolute; bottom:0;
    font-family: 'Lato', sans-serif;
    width: 180px;
    font: bolder;
    background-color: rgb(190, 217, 241);
    border-radius: 5px; 
    border: 1px solid black;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sprites{
    max-width: 150px;
    max-height: 150px;
}

.imgelem{
    height: 50px;
    right: 5px;
    position: absolute;
    top: 5px;
}

.imgelemArray{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: contain;
}

.notHave{
    filter: contrast(100%);
    width: 180px;
    height: 180px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ededed;
    color: #424242;
    margin: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border:1px solid black;
    opacity: 0.9;
    font: bold;

}
.notHave div img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.notHave div:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.arrayBox{
    width: -webkit-fill-available;
    text-align: center;
    display: flex;
}
.typeArray{
    border: solid 2px black;
    width: -webkit-fill-available;
}

td{
    border: solid 1px black;
    width: 100%;
}

.arrayFirstRow{
    background-color: rgb(85, 138, 183);
    color: white;
    text-align: center;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
.loadingType{
    height: 50px;
    right: 5px;
    position: absolute;
    top: 5px;
    -webkit-animation: rotation 2s infinite linear;
}

