.Pokeditor{
  background-color: whitesmoke;
}

.Pokeditor table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left:auto; 
  margin-right:auto; 
}

.Pokeditor th {
  padding: 0;
}

.Pokeditor .Item {
  width: 40px;
  height: 40px;
  margin-left: -3px;
}

.Pokeditor button {
  background-size: contain;
  background-repeat: 'no-repeat';
  background-position: 'center';
  height: 48px;
  width: 48px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.Pokeditor button:active{
  border: 2px solid black;
}

.Pokeditor .Tile:hover{
  opacity: 0.7
}
