
.global-container {
    background-color: rgba(255, 255, 255, 0.4);
    background-size: 100%, contain;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    overflow: auto;
}

#pokemon-container1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

#pokemon-container2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pokemon-single-container {
    width: 180px;
    height: 180px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ededed;
    color: #424242;
    margin: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border:1px solid grey;
    opacity: 0.9;
    font: bold;
  }

.pokemonSearchBar {
    background-color: #ededed;
    width: 46vw; 
    border-radius: 1vw;
    overflow: hidden;
    border:0.3vw solid grey;
}

.searchLeft{
    text-align: left;
}

.searchRight{
    text-align: right;
}

.align-bottom{
    color: black;
    height: 30px;
    position:absolute;
    bottom: -2px;
    font-family: 'Lato', sans-serif;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    line-height: 27.7px;
    background-color: rgb(190, 217, 241);
    border: 1px solid grey;
}

.sprites{
    max-width: 150px;
    max-height: 150px;
}

.imgelem{
    height: 50px;
    right: 5px;
    position: absolute;
    top: 5px;
}

.imgelemArray{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    background-size: contain;
}

.notHave{
    filter: contrast(100%);
    width: 180px;
    height: 180px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ededed;
    color: #424242;
    margin: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border:1px solid grey;
    opacity: 0.9;
    font: bold;

}
.notHave div img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.notHave div:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.arrayBox{
    width: -webkit-fill-available;
    text-align: center;
    display: flex;
}
.typeArray{
    border: solid 0.2vw grey;
    width: -webkit-fill-available;
}

td{
    border: solid 0.1vw grey;
    border-radius: 0.2vw;
    width: 100%;
}

.arrayFirstRow{
    background-color: rgb(85, 138, 183);
    color: white;
    text-align: center;
}
@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
.loadingType{
    height: 50px;
    right: 5px;
    position: absolute;
    top: 5px;
    animation: rotation 2s infinite linear;
}

