
.Item {
  width: 1.9vw;
  height: 1.9vw;
}

.Objectives {
  width: 1.5vw;
  height: 1.5vw;
  margin-top: 0.7vw;
  animation: beat 1s infinite alternate;
}

.Statues {
  width:90%;
  z-index: 5;
  margin-top: -2.5vh;
}

.FinalDoor {
  width:2.8vw;
  margin-top: -3vw;
  z-index: 5;
}

.Fire {
  width: 2vw;
  height: 2vw;
  margin-top: 0.2vw;
  animation: beat 0.1s infinite alternate;
}

@keyframes beat{
  to {transform: scale(1.2); }
}

.Tile {
  background-size: contain;
  background-repeat: repeat;
  height: 3.1235455vw;
  width: 3.1235455vw;
  z-index: 2;
}